@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h1>Лабораторная работа №6</h1>
    <form action="~/Home/Func" method="post">
        <input type="text" name="input" value="" />
        <input id="resultInput" type="text" name="result" value="" runat="server" />
        <input type="submit" name="compute" value="Вычислить" />
    </form>
</body>
</html>